
<div class="container-fluid w-100">
  <div class="right-button">
    <%= link_to "ユーザー一覧に戻る", users_path, class:"btn btn-info" %>
  </div>

  <% @entries.each do |e| %>
    <% unless e.user == current_user %>
    <h2 class="chat-title"><%= e.user.name  %>さんとのチャットルーム</h2>
    <% end %>
  <% end %>

  <% if @message && @message.errors.any? %>
  <div class="card text-center text-white bg-danger mt-3">
  <!-- <p><%= @message.errors.count %> 件のエラーが発生しました。</p> -->
      <% @message.errors.full_messages.each do |message| %>
        <ul><%= message %></ul>
      <% end %>
    </p>
  </div>
<% end %>

  <hr>

  <div class="chat">
    <div class="chats">
      <% if @messages.present? %>
        <% previous_date = nil %> <!-- 前回のメッセージの日付を保持 -->
        <% @messages.each do |m| %>
          <% current_date = m.created_at.to_date %> <!-- 現在のメッセージの日付を取得 -->
          
          <!-- 同じ日付のメッセージがあれば日付は表示しない、違う日付のメッセージが来たら表示 -->
          <% if current_date != previous_date %>
            <div class="chat-date">
              <strong><%= current_date.strftime("%Y-%m-%d") %></strong>
            </div>
          <% end %>

          <% if m.user_id == current_user.id %>
            <div class="chat-fukidashi chat-self">
              <strong><%= m.content %></strong>
              <div class="chat-time">
                <%= m.created_at.strftime("%H:%M") %> <!-- 時間 -->
              </div>
                 <%= link_to "削除", room_message_path(@room, m), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>

            
            </div>
          <% else %>
            <!-- 相手のメッセージ -->
            <div class="chat-fukidashi chat-other">
              <strong><%= m.content %></strong>
              <div class="chat-time">
                <%= m.created_at.strftime("%H:%M") %> <!-- 時間 -->
              </div>
            </div>
          <% end %>

          <% previous_date = current_date %> <!-- 前回の日付を更新 -->
        <% end %>
      <% end %>
    </div>

   
  
    <div class="posts">
    <%= form_with model: @message do |f| %>
      <%= f.text_field :content, placeholder: "140字以内でメッセージを入力してください", size: 70, class: "form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: "form-submit" %>
    <% end %>
    </div>
  </div>
</div>