<h1>新規投稿</h1>
<%= form_with model: @post, local:true do |f| %>
  <h4>直売所名</h4>
  <%= f.text_field :location %>
  <h4>住所</h4>
  <%= f.text_field :address %>
    <div class="form-group">
    <%= f.label :category_id, 'カテゴリー' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
  </div>
  <h4>感想</h4>
  <%= f.text_area :text %>
  <h4>画像</h4>
  <%= f.file_field :image %>
  <p></p>
  <div class="form-group">
  <%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-25 mb-3"} %>
  </div>
  
  <%= f.submit '投稿する', class: "btn btn-success" %>
  <% if @post.errors.any? %>
  <div class="card text-center text-white bg-danger mt-3">
    <%= @post.errors.count %>件のエラーが発生しました。
    <% @post.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
  </div>
  <% end %>
<% end %>

